<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <style>
    .video-container {
      position: relative;
      width: 100%;
      max-width: 800px;
      padding-bottom: 56.25%;
      height: 0;
      margin: auto;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/css/paper.css?v=' | append: site.github.build_revision | relative_url }}">
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title }}</h1>
    {% if page.author_list %}
    <h2 class="project-tagline" style="color:white">
      {% for author in page.author_list %}
      <a style='color: #dfebf7' href="{{ author.url }}">{{ author.name }}</a><sup>{% if author.coauthor %}*, {% endif
        %}[{{ author.affiliation }}]</sup>{% if forloop.last == false %},{% if author.newline %}<br>{% else %} {% endif
      %}{% endif %}
      {% endfor %}
    </h2>
    {% else %}
    <h2 class="project-tagline" style="color:white">{{ page.author }}</h2>
    {% endif %}

    {% if page.affiliation_list %}
    {% assign affiliation_count = 0 %}
    <h2 class="project-tagline" style="color:white">
      {% for affiliation in page.affiliation_list %}
      {% assign affiliation_count = affiliation_count | plus: 1 %}
      <sup>[{{affiliation_count}}]</sup>{{affiliation.name}}{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </h2>
    {% else %}
    <h2 class="project-tagline" style="color:white">{{ page.affiliation }}</h2>
    {% endif %}

    {% if page.other_message %}
    <h2 class="project-tagline" style="color:white">{{ page.other_message }}</h2>
    {% endif %}

    {% if page.buttons %}
    {% for button in page.buttons %}
    <a href="{{ button.url }}" class="btn">{{ button.text }}</a>
    {% endfor %}
    {% endif %}
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
      <center>
        <script type="text/javascript" id="clstr_globe"
          src="//clustrmaps.com/globe.js?w=150&d=TYai0XCoTewd2PjwgwCME3t_ufoIcL1VJH0Y31jPsAA"></script>
        <br>
        <br>
        {% if page.maintainer %}
        <span class="site-footer-credits">This page is maintained by @{{page.maintainer}}. &copy; Copyright 2022
          OPTML</span>
        {% endif %}
      </center>
    </footer>
  </main>
</body>

</html>